@charset "UTF-8";

/* -------------------------------------
 *
 * base
 *
------------------------------------- */


body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

label {
  cursor: pointer;
}
img {
  vertical-align: middle;
}