@charset "UTF-8";

/* -------------------------------------
 *
 * base
 *
------------------------------------- */


body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  color: $base-font-color;
}
a:link {
  color: $base-link-color;
  text-decoration: none;
}
a:visited {
  color: $base-link-color;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: $base-link-color;
  text-decoration: none;
}

label {
  cursor: pointer;
}
img {
  vertical-align: middle;
}